*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("images/bg.jpg") center/cover no-repeat;
    color:white;
}

/* Header */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    position:fixed;
    width:100%;
}

.logo{
    font-size:24px;
    font-weight:700;
}

.logo span{
    color:#00f2ff;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00f2ff;
}

/* Hero Section */
.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:transparent;
}

.hero-content h1{
    font-size:48px;
}

.hero-content h1 span{
    color:#00f2ff;
}

.hero-content p{
    margin:20px 0;
    font-size:18px;
    color:#ccc;
}

.hero-content button{
    padding:12px 30px;
    border:none;
    background:#00f2ff;
    color:black;
    font-weight:600;
    cursor:pointer;
    border-radius:30px;
    transition:0.3s;
}

.hero-content button:hover{
    background:white;
}

/* Services */
.services{
    padding:100px 10%;
    text-align:center;
}

.services h2{
    margin-bottom:50px;
    font-size:36px;
}

.service-box{
    display:flex;
    justify-content:center;
    gap:30px;
}

.card{
    background:#6c6868;
    padding:30px;
    width:300px;
    border-radius:15px;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(0, 242, 255, 0.699);
}

/* Footer */
footer{
    padding:20px;
    text-align:center;
    background:#000;
}


.social-icons{
    text-align:center;
    padding:30px 0;
}

.social-icons a{
    display:inline-block;
    margin:0 20px;
    font-size:22px;
    color:white;
    background:#1a1a1a;
    padding:20px;
    border-radius:70%;
    transition:0.3s;
}

.social-icons a:hover{
    background:#00f2ff;
    color:black;
    transform:translateY(-5px);
}
